<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3><i class="fa fa-map-marker"></i> 联系我们:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Phone: {{ site.telephone_number }} <br>
          Wechat: {{ site.telephone_number }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-2">
        <h3><i class="fa fa-external-link"></i> 链接</h3>
        <p><a href="/product"> 产品方案 </a></p>
        <p><a href="/contact"> 联系我们 </a></p>
      </div>  
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }} <a href="#">{{ site.company_name }}</a>. </p>
  </div>
</footer>