<!doctype html>
<html lang="en">

{% include head.html %}
{% include header.html %}
{% include script.html %}

<body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper">
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/face_algo_slider.png" width="100%"
                                alt="Image of first carousel" align="center">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Facial Algorithm</h3>
                                <p class="carousel-body">Facial Detection \ Head Posture \ Facial Attributes \ Facial
                                    Recognition</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/license_plate_slider.png" width="100%"
                                alt="Image of second carousel" align="center">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">License Plate Recognition</h3>
                                <p class="carousel-body">Vehicle Detection \ Vehicle Attributes \ License Plate
                                    Attributes \ License Plate Recognition</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/pvc.png" width="100%" alt="Image of third carousel"
                                align="center">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Person,vehicle and NMV Detection</h3>
                                <p class="carousel-body">Person,vehicle and NMV Detection\ Target tracking \ Target
                                    counting</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">We are offering</h3>
                    <p class="services-header-body"><em> Multi-platform, easy-to-use, high-performance AI algorithm
                            development, deployment services </em> </p>
                    <hr>
                </div>
            </div>

            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-android fa-5x"></i>&nbsp;&nbsp;<i
                                class="fa fa-apple fa-5x"></i>&nbsp;&nbsp;<i
                                class="fa fa-windows fa-5x"></i>&nbsp;&nbsp;<i class="fa fa-linux fa-5x"></i></p>
                        <h4 class="services-title">Multi-platform</h4>
                        <p class="services-body">Supporting algorithm development for Android, MacOS, Linux, Windows,
                            RTOS system platforms, and can be used on any device such as PCs, mobile phones, and
                            automobiles.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-thumbs-o-up fa-5x"></i></p>
                        <h4 class="services-title">Easy to use</h4>
                        <p class="services-body">Providing professional, easy-to-use, universal API interface, including
                            but not limited to C#/C/C++/Java programming language interface, any developer can quickly
                            get started.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-cubes fa-5x"></i></p>
                        <h4 class="services-title">High Performance</h4>
                        <p class="services-body">Supporting NPU, GPU and other heterogeneous platforms, the CPU also has
                            neon, simd, avx2 instruction set optimization, so that the device performance can be fully
                            used.</p>
                    </div>
                </div>


            </div>
            <!-- End Serivces Row 1 -->

        </div>
    </section>
    <!-- End #services-section -->

    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            {% for post in site.algos %}
            <div class="row">
                <div class="col-lg-6">
                    {% if post.video %}
                    {{ post.video }}
                    {% else %}
                    <img src="assets/img/slider/{{ post.picture }}" alt="Feature-img"
                        align="center" width="100%">
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <h2 class="article__title" align="left">
                        <a href="/alogrepos.html">{{post.title}}</a>
                    </h2>
                    <p class="article__excerpt" align="left">{% if post.description %}{{ post.description }}{% endif %}
                    </p>
                </div>
            </div>
            <p></p>
            {% endfor %}

            <h3 class="services-header-title"><a href="/alogrepos.html">Find Out More</a></h3>
        </div>
    </section>

</body>

{% include footer.html %}

</html>